body{
    background-color: rgba(128, 128, 128, 0.377);
    margin: 20px;
    padding: 0;
    justify-content: center;

}
.title{
    text-align: center;
    font-family: 'pacifico', cursive;
    color: brown;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
img{
    border-radius: 15%;
    width: 100%;
    height: auto;
}
h2, h3{
    color: brown;
}
p,ul,ol{
    background-color: white;
    margin:20px;
    padding: 10px 20px;
    border-radius: 10px;
}
div a{
    background-color: brown;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}